/vendor/
/node_modules/
.env
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
/build/
/coverage/
database/database.sqlite
